*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --gold: #DAAA10;
    --green: #0DDE26;
    --green-dark: #2C4E30;
    --black: #17202A;
    --green-dark-opacity: rgb(44, 78, 48, 0.5);
    --dark-blue: #00003d;
    --facebook: #0000FF;
    --instagram: #8E24AA;
    
}

body{
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, var(--green-dark), var(--gold), var(--green), var(--green-dark));  
    background-repeat: no-repeat;
    background-size: cover; 
     
}
.header{
    width: 100%;
    height: 100px;
    background: var(--black);
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.abrir-menu, .cerrar-menu{
    background: transparent;
    color: var(--green);
    font-size: 40px;
    border: none;
    display: none;
}
.logo{
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    color: var(--gold);
}
.navbar{
    width: 500px;
    
    
    
}
.navbar-ul{
    list-style: none;
    display: flex;
    align-items: center;
    
    gap: 1rem;
}
.boton-menu a{
    color: var(--green);
    text-decoration: none;
    font-size: 30px;
}
.boton-menu a:hover{
    color: var(--gold);
    transition: 0.8s;

}
.cart{
    background: transparent;
    color: var(--green);
    font-size: 40px;
    border: none;
    cursor: pointer;
}

@media screen and (max-width:750px) {
    body{
        max-width: 750px;
        height: 100%;             
        background: linear-gradient(45deg, var(--green-dark), var(--gold), var(--green), var(--green-dark));  
        background-size: cover;            

    }

    .abrir-menu, .cerrar-menu{
        display: block;
        
    }
    .navbar{
        position: absolute;
        display: flex;
        flex-direction: column;
        opacity: 0;
        visibility: hidden;
        gap: 1rem;
        top: 0;
        left: 0;
        background: var(--black);
        width: 350px;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax var(--green-dark-opacity);
        

    }
    
    .navbar.visible{
        opacity: 1;
        visibility: visible;
    }
    .navbar-ul{
        flex-direction: column;
    }
    .main{                  
        min-width: 551px;
        max-width: 750px;
        height: 100vh;
        
    }
    .container-pan, .container-charcut, .container-varios{
        background: linear-gradient(45deg, var(--green-dark), var(--gold), var(--green), var(--green-dark));
        width: 100%;
        padding-top: 1rem;
        

        
    }
    .container-charcut, .container-varios{
        display: none;
    }


    
    h2{
        background: var(--green-dark);
        padding: 1rem;
        text-align: center;
        color: #DAAA10;
        text-transform: uppercase;
        border: 2px var(--gold) solid;
        border-radius: 25px;
        font-size: 35px;

    }
    .pan-container, .charcut-container, .variados-container{
        width: 100%;               
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: center;
        padding: 0.5rem;
        gap: 0.35rem;
        
        
    }
    .card-panes, .card-charcut, .card-varios{
        min-width: 250px;
        max-width: 750px;
        height: 200px;                       
        background: var(--black);
        border-radius: 20px;
        
        
       
    }
    img{
        width: 100%;
        height: 90px;
        border-radius: 20px;
    }
    .detalles{
        display: flex;
        justify-content: space-between;
        padding-top: 1.1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: 1rem;
        
    }
    h3{
        font-size: 25px;
        color: var(--gold);
    }
    p{
        color: var(--green);
        font-size: 20px;
        font-weight: bolder;
    }
    .boton-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .comprar{
        background: var(--green);
        padding: 0.50rem 1rem;
        border-radius: 15px;
        font-weight: bolder;
        cursor: pointer;
        border: none;

    }
    .navbar .container.activo{
        display: block;
    }
    .redes{
        width: 100%;
        height: 50px;
        margin-top: 1rem;
        border: 3px var(--black) solid;
        border-radius: 20px;
        display: flex;
        justify-content:space-around;
        align-items: center;
        background: linear-gradient(45deg, var(--green-dark), var(--gold), var(--green), var(--green-dark));
    }

    .fa-brands{
      font-size: 30px;
      color: var(--facebook);
     
      
    }
    .fa-square-whatsapp{
        color: var(--green);
        
    }
    .fa-tiktok{
        color: var(--black);
    }
    .fa-square-instagram{
        color: var(--instagram);
    }
    footer{
        padding: 1rem;        
        width: 100%;
        background: var(--black);
        border-radius: 15px;
    }
    .direccion-container{
        
        width: 100%;
    }
    h4{
        text-align: center;
        text-transform: uppercase;
        color: var(--gold);
    }
    h5{
        color: white;
        text-align: center;
        font-size: 15px;
        padding: 0.5rem;
    }
    .barra{
        width: 80%;
        height: 3px;
        background: var(--gold);
        margin: auto;
    }
    h6{
        text-align: center;
        color: white;
        padding: 0.5rem;
        font-size: 15px;
    }        
    
}

@media screen and (max-width:550px) {
    body{
        max-width: 550px;
        height: 100%;             
        background: linear-gradient(45deg, var(--green-dark), var(--gold), var(--green), var(--green-dark));  
        background-size: cover;            

    }

    .abrir-menu, .cerrar-menu{
        display: block;
        
    }
    .navbar{
        position: absolute;
        display: flex;
        flex-direction: column;
        opacity: 0;
        visibility: hidden;
        gap: 1rem;
        top: 0;
        left: 0;
        background: var(--black);
        width: 250px;padding: 2rem;
        box-shadow: 0 0 0 100vmax var(--green-dark-opacity);
        

    }
    
    .navbar.visible{
        opacity: 1;
        visibility: visible;
    }
    .navbar-ul{
        flex-direction: column;
    }
    .main{                
        min-width: 375px;
        max-width: 550px;
        height: 100vh;
        
    }
    .container-pan, .container-charcut, .container-varios{
        background: linear-gradient(45deg, var(--green-dark), var(--gold), var(--green), var(--green-dark));
        width: 100%;
        padding-top: 1rem;
        
    }
    .container-charcut, .container-varios{
        display: none;
    }


    
    h2{
        background: var(--green-dark);
        padding: 1rem;
        text-align: center;
        font-size: 25px;
        color: #DAAA10;
        text-transform: uppercase;
        border: 2px var(--gold) solid;
        border-radius: 25px;

    }
    .pan-container, .charcut-container, .variados-container{
        width: 100%;               
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: center;
        padding: 0.5rem;
        gap: 0.25rem;
        
        
    }
    .card-panes, .card-charcut, .card-varios{
        min-width: 180px;
        max-width: 550px;
        height: 220px;  
        border-radius: 20px 20px 20px 20px;                     
        background: var(--black);
        
        
       
    }
    img{
        width: 100%;
        height: 140px;
        border-radius: 20px;
    }
    .detalles{
        display: flex;
        justify-content: space-between;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: 0.5rem;
        
    }
    h3{
        font-size: 16px;
        color: var(--gold);
    }
    p{
        color: var(--green);
    }
    .boton-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .comprar{
        background: var(--green);
        padding: 0.20rem 0.5rem;
        border-radius: 15px;
        cursor: pointer;
        border: none;

    }
    .navbar .container.activo{
        display: block;
    }
    .redes{
        width: 100%;
        height: 50px;
        border: 3px var(--black) solid;
        border-radius: 20px;
        display: flex;
        justify-content:space-around;
        align-items: center;
        background: linear-gradient(45deg, var(--green-dark), var(--gold), var(--green), var(--green-dark));
    }

    .fa-brands{
      font-size: 30px;
      color: var(--facebook);
     
      
    }
    .fa-square-whatsapp{
        color: var(--green);
        
    }
    .fa-tiktok{
        color: var(--black);
    }
    .fa-square-instagram{
        color: var(--instagram);
    }
    footer{
        padding: 1rem;        
        width: 100%;
        background: var(--black);
        border-radius: 15px;
        margin-top: 1rem;
       
        
    }
    .direccion-container{
        
        width: 100%;
    }
    h4{
        text-align: center;
        text-transform: uppercase;
        color: var(--gold);
    }
    h5{
        color: white;
        text-align: center;
        font-size: 10px;
        padding: 0.5rem;
    }
    .barra{
        width: 80%;
        height: 3px;
        background: var(--gold);
        margin: auto;
    }
    h6{
        text-align: center;
        color: white;
        padding: 0.5rem;
        font-size: 10px;
    }        
    
}


@media screen and (max-width:374px) {
    body{
        max-width: 374px;
        height: 100%;             
        background: linear-gradient(45deg, var(--green-dark), var(--gold), var(--green), var(--green-dark));  
        background-size: cover;   
        min-height: 100vh;         

    }

    .abrir-menu, .cerrar-menu{
        display: block;
        
    }
    .navbar{
        position: absolute;
        display: flex;
        flex-direction: column;
        opacity: 0;
        visibility: hidden;
        gap: 1rem;
        top: 0;
        left: 0;
        background: var(--black);
        width: 250px;padding: 2rem;
        box-shadow: 0 0 0 100vmax var(--green-dark-opacity);
        

    }
    
    .navbar.visible{
        opacity: 1;
        visibility: visible;
    }
    .navbar-ul{
        flex-direction: column;
    }
    .main{                
        min-width: 350px;
        max-width: 374px;
        height: 100vh;
        
    }
    .container-pan, .container-charcut, .container-varios{
        background: linear-gradient(45deg, var(--green-dark), var(--gold), var(--green), var(--green-dark));
        width: 100%;
        padding-top: 1rem;
        
    }
    .container-charcut, .container-varios{
        display: none;
    }


    
    h2{
        background: var(--green-dark);
        padding: 1rem;
        text-align: center;
        font-size: 25px;
        color: #DAAA10;
        text-transform: uppercase;
        border: 2px var(--gold) solid;
        border-radius: 25px;

    }
    .pan-container, .charcut-container, .variados-container{
        width: 100%;               
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: center;
        padding: 0.5rem;
        gap: 0.25rem;
        
        
    }
    .card-panes, .card-charcut, .card-varios{
        min-width: 150px;
        max-width: 365px;
        height: 220px;  
        border-radius: 20px 20px 20px 20px;                     
        background: var(--black);
        
        
       
    }
    img{
        width: 100%;
        height: 130px;
        border-radius: 20px;
    }
    .detalles{
        display: flex;
        justify-content: space-between;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: 0.5rem;
        
    }
    h3{
        font-size: 16px;
        color: var(--gold);
    }
    p{
        color: var(--green);
    }
    .boton-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .comprar{
        background: var(--green);
        padding: 0.20rem 0.5rem;
        border-radius: 15px;
        cursor: pointer;
        border: none;

    }
    .navbar .container.activo{
        display: block;
    }
    .redes{
        width: 100%;
        height: 50px;
        border: 3px var(--black) solid;
        border-radius: 20px;
        display: flex;
        justify-content:space-around;
        align-items: center;
        background: linear-gradient(45deg, var(--green-dark), var(--gold), var(--green), var(--green-dark));
    }

    .fa-brands{
      font-size: 30px;
      color: var(--facebook);
     
      
    }
    .fa-square-whatsapp{
        color: var(--green);
        
    }
    .fa-tiktok{
        color: var(--black);
    }
    .fa-square-instagram{
        color: var(--instagram);
    }
    footer{
        padding: 1rem;        
        width: 100%;
        background: var(--black);
        border-radius: 15px;
        margin-top: 1rem;
   
       
    }
    .direccion-container{
        
        width: 100%;
    }
    h4{
        text-align: center;
        text-transform: uppercase;
        color: var(--gold);
    }
    h5{
        color: white;
        text-align: center;
        font-size: 10px;
        padding: 0.5rem;
    }
    .barra{
        width: 80%;
        height: 3px;
        background: var(--gold);
        margin: auto;
    }
    h6{
        text-align: center;
        color: white;
        padding: 0.5rem;
        font-size: 10px;
    }        
    
}






